body {
    margin: 0.25in ;
    background-color: #282A34; 
    color: white ;
}

label {
    font-weight: 300 ;
} 

.text-muted {
    color: gray !important ;
}

.form-control-plaintext {
    color: white ;
}

.form-select {
    background-color: #282A34; 
    color: white ;
}