body {
    margin: 0.25in ;
    background-color: #282A34; 
    color: white ;
}

.list-group-item { 
    background-color: black ;
    color: white ;
    border-color: royalblue ; 
}

.list-group-item.disabled {
    background-color: gray ;
    color: black ;
}