body {
    margin: 0.25in ;
    /* background-color: #282A34;  */
    color: white ;
}

.modal-content {
    background-color: black ;
    color: white ;
}

.modal-90w {
    width: 90vw ;
    max-width: 90vw ;
}